Source: ros-galactic-sick-safetyscanners-base
Section: misc
Priority: optional
Maintainer: Lennart Puck <puck@fzi.de>
Build-Depends: debhelper (>= 9.0.0), cmake, libboost-all-dev, ros-galactic-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-galactic-sick-safetyscanners-base
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, ros-galactic-ros-workspace
Description: Provides an Interface to read the sensor output of a SICK Safety Scanner
